@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);


body, html { font-family: 'Nanum Gothic', Arial, Tahoma, Verdana, sans-serif; height: 100%; font-size: 10pt;
    background-repeat: no-repeat; background-color: #364150 }

.error-404 { padding: 50px 0; }
.error-404 img { max-width: 100px; }
.error-404 h3 { padding: 0; margin: 20px 0 30px 0; color: #999; font-size: 20pt; }
.error-404 a { color: #fff; font-size: 12pt; margin-top: 20px; }
.error-404 p { color: #999; font-size: 12pt; }

.btn.btn-primary { background-color: #3b9c96; border-color: #307f7a; }
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus { background-color: #307f7a; }

/* 404 */
.hit-the-floor {
    color: #fff;
    font-size: 120pt;
    font-weight: bold;
    font-family: 'Nanum Gothic', Arial, Tahoma, Verdana, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
    text-align: center;
}