@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

html, body { font-family: 'Nanum Gothic', Arial, Tahoma, Verdana, sans-serif; font-size: 10pt; }
a { color: #307f7a; cursor: pointer !important; text-decoration: none; }
h1, h2, h3, h4, h5 { margin: 0; padding: 0; }

h3 { margin-bottom: 30px; font-size: 18pt; color: #307f7a; }
h3 i.fa { padding-right: 10px; }

/* Base container */
#wrapper { padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled { padding-left: 250px; }
#sidebar-wrapper { z-index: 1000; position: fixed; left: 250px; width: 0; height: 100%; margin-left: -250px; overflow-y: auto; background-color: #364150;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper { width: 250px; }
#page-content-wrapper { width: 100%; position: absolute; }
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -250px; padding: 0; }
/* #End Base container */

/* Left menu block */
.sidebar-nav { position: absolute; top: 0; width: 250px; }
.sidebar-nav ul { margin: 0; padding: 0; list-style: none; }
.sidebar-nav li { text-indent: 7px; line-height: 40px; }
.sidebar-nav li a { display: block; text-decoration: none; color: #fff; border-left: 3px solid transparent; font-size: 11pt; }
.sidebar-nav li a i.fa { margin: 0; width: 35px; }
.sidebar-nav li a:hover { text-decoration: none; color: #fff; background-color: #222; border-color: #307f7a; }
.sidebar-nav li a:active,
.sidebar-nav li a:focus, .sidebar-nav li.active a { text-decoration: none; background-color: #222; border-color: #307f7a; }
.sidebar-nav li .sub-menu { }
.sidebar-nav li .sub-menu li a { display: block; text-decoration: none; color: #999; border-left: 3px solid transparent !important; font-size: 9pt; padding-left: 32px; line-height: 35px; }
.sidebar-nav li .sub-menu li a:hover, .sidebar-nav li .sub-menu li.active a { display: block; text-decoration: none; color: #fff; border-left: 3px solid transparent !important; }
.sidebar-nav li .sub-menu li a i.fa { margin: 0; width: 20px; }
/* #End Left menu block */

/* Header line */
.top-line { background-color: #3b9c96; border-bottom: 3px solid #307f7a; position: relative; z-index: 100; padding-top: 7px; padding-bottom: 7px;
    -webkit-box-shadow: 0px 0px 10px 7px rgba(221,221,221,1);
    -moz-box-shadow: 0px 0px 10px 7px rgba(221,221,221,1);
    box-shadow: 0px 0px 10px 7px rgba(221,221,221,1);
}
.left-top-line { background-color: #3b9c96; border-bottom: 3px solid #307f7a; position: relative; z-index: 100; padding-top: 7px; padding-bottom: 7px; text-align: center; }
.logo a { font-size: 16pt; line-height: 32px; color: #fff; text-decoration: none; }
.logo a:hover { text-decoration: none; }
/* user info dropdown menu */
.nav {  }
.nav > li > a { padding: 0; }
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .nav > li > a:after,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav .open > a:active, .nav .open > a:after { background: none; border-color: #fff; }
.top-line .navbar-nav { margin: 0; }
.top-line .dropdown .avatar { display: block; border: 1px solid #fff; border-radius: 50%; font-size: 12pt; color: #fff; padding: 5px 9px; }
.top-line .dropdown-menu:before { position: absolute; top: -9.5px; right: 8px; display: inline-block; border-right: 8px solid transparent; border-bottom: 8px solid #e1e6ef; border-left: 8px solid transparent; content: ''; }
.top-line .dropdown-menu { top: 40px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 1px solid #eee;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125); padding: 0; }
.top-line .dropdown-menu li:not(:last-child) { border-bottom: 1px solid #eee; }
.top-line .dropdown-menu li { padding: 0; position: relative; line-height: 40px; font-size: 14px; min-width: 250px; }
.top-line .dropdown-menu li a { line-height: 35px; }
.top-line .dropdown-menu li a i.fa { padding-right: 7px; color: #307f7a; }
.top-line .dropdown-menu .dropdown-menu-header { background-color: #f6f6f6; color: #333; }
/* top switcher */
.top-switcher { float: left; z-index: 1000; position: relative; }
.btn-toggle { padding: 5px 9px; font-size: 12pt; line-height: 20px; background-color: transparent; margin: 0; color: #fff; border: 1px solid #fff; border-radius: 50%; }
.btn-toggle:hover, .btn-toggle:focus, .btn-toggle:active { color: #fff; }
/* #End Header line */

.content { margin: 20px 0 40px 0; }
.content .table thead { background-color: #3b9c96; color: #fff; }
.content .table tfoot { background-color: #eee; }
.content .user-profile-table {  }
.content .user-profile-table td { padding: 5px; }
.content .user-profile-table td:first-child { padding-left: 0; }
.content .user-profile-table .header { font-weight: bold; font-size: 12pt; padding: 10px 0; color: #3b9c96; }
.content .user-profile-table .title { font-weight: bold; }
.content .delimiter { border-top: 1px solid #eee; padding-top: 10px; }

.content .question { padding: 0 0 10px 0; margin-bottom: 15px; border-bottom: 1px solid #eee; }
.content .question h4 { display: block; font-size: 12pt; color: #307f7a; margin-bottom: 5px; }

.copyright { color: #999; text-align: center; font-size: 8pt; margin-top: 20px; }

/* Other */
.btn.btn-primary { background-color: #3b9c96; border-color: #307f7a; }
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus { background-color: #307f7a; }
/* --- margins --- */
.m0 { margin: 0 !important; } .m5 { margin: 5px; } .m10 { margin: 10px; } .m15 { margin: 15px; } .m20 { margin: 20px; } .m25 { margin: 25px; } .m30 { margin: 30px; } .m35 { margin: 35px; } .m40 { margin: 40px; } .m45 { margin: 45px; } .m50 { margin: 50px; }
.mt0 { margin-top: 0 !important; } .mt5 { margin-top: 5px; } .mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; } .mt20 { margin-top: 20px; } .mt25 { margin-top: 25px; } .mt30 { margin-top: 30px; } .mt35 { margin-top: 35px; } .mt40 { margin-top: 40px; } .mt45 { margin-top: 45px; } .mt50 { margin-top: 50px; } .mt200 { margin-top: 50px; }
.mb0 { margin-bottom: 0 !important; } .mb5 { margin-bottom: 5px; } .mb10 { margin-bottom: 10px; } .mb15 { margin-bottom: 15px; } .mb20 { margin-bottom: 20px; } .mb25 { margin-bottom: 25px; } .mb30 { margin-bottom: 30px; } .mb35 { margin-bottom: 35px; } .mb40 { margin-bottom: 40px; } .mb45 { margin-bottom: 45px; } .mb50 { margin-bottom: 50px; }
.ml0 { margin-left: 0 !important; } .ml5 { margin-left: 5px; } .ml10 { margin-left: 10px; } .ml15 { margin-left: 15px; } .ml20 { margin-left: 20px; } .ml25 { margin-left: 25px; } .ml30 { margin-left: 30px; } .ml35 { margin-left: 35px; } .ml40 { margin-left: 40px; } .ml45 { margin-left: 45px; } .ml50 { margin-left: 50px; }
.mr0 { margin-right: 0 !important; } .mr5 { margin-right: 5px; } .mr10 { margin-right: 10px; } .mr15 { margin-right: 15px; } .mr20 { margin-right: 20px; } .mr25 { margin-right: 25px; } .mr30 { margin-right: 30px; } .mr35 { margin-right: 35px; } .mr40 { margin-right: 40px; } .mr45 { margin-right: 45px; } .mr50 { margin-right: 50px; }

/* --- paddings --- */
.p0 { padding: 0 !important; } .p5 { padding: 5px; } .p10 { padding: 10px; } .p15 { padding: 15px; } .p20 { padding: 20px; } .p25 { padding: 25px; } .p30 { padding: 30px; } .p35 { padding: 35px; } .p40 { padding: 40px; } .p45 { padding: 45px; } .p50 { padding: 50px; }
.pt0 { padding-top: 0 !important; } .pt5 { padding-top: 5px; } .pt10 { padding-top: 10px; } .pt15 { padding-top: 15px; } .pt20 { padding-top: 20px; } .pt25 { padding-top: 25px; } .pt30 { padding-top: 30px; } .pt35 { padding-top: 35px; } .pt40 { padding-top: 40px; } .pt45 { padding-top: 45px; } .pt50 { padding-top: 50px; }
.pb0 { padding-bottom: 0 !important; } .pb5 { padding-bottom: 5px; } .pb10 { padding-bottom: 10px; } .pb15 { padding-bottom: 15px; } .pb20 { padding-bottom: 20px; } .pb25 { padding-bottom: 25px; } .pb30 { padding-bottom: 30px; } .pb35 { padding-bottom: 35px; } .pb40 { padding-bottom: 40px; } .pb45 { padding-bottom: 45px; } .pb50 { padding-bottom: 50px; }
.pl0 { padding-left: 0 !important; } .pl5 { padding-left: 5px; } .pl10 { padding-left: 10px; } .pl15 { padding-left: 15px; } .pl20 { padding-left: 20px; } .pl25 { padding-left: 25px; } .pl30 { padding-left: 30px; } .pl35 { padding-left: 35px; } .pl40 { padding-left: 40px; } .pl45 { padding-left: 45px; } .pl50 { padding-left: 50px; }
.pr0 { padding-right: 0 !important; } .pr5 { padding-right: 5px; } .pr10 { padding-right: 10px; } .pr15 { padding-right: 15px; } .pr20 { padding-right: 20px; } .pr25 { padding-right: 25px; } .pr30 { padding-right: 30px; } .pr35 { padding-right: 35px; } .pr40 { padding-right: 40px; } .pr45 { padding-right: 45px; } .pr50 { padding-right: 50px; }

.clearfix:before, .clearfix:after { content: " " !important; display: table !important; }
.clearfix:after { clear: both !important; }
.clearfix { *zoom: 1 !important; }

.form-control:focus { border-color: #3b9c96; outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 0 8px rgba(48, 127, 122, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 0 8px rgba(48, 127, 122, .4); }

/* pagination */
.pagination > li > a,
.pagination > li > span { color: #3b9c96; }
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover { background-color: #3b9c96; border-color: #307f7a; }
/* #End Other */